<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市出租车动态轨迹图</title>
</head>

<script charset="utf-8" src="https://map.qq.com/api/gljs?v=1.exp&key=A37BZ-LSCEX-XEI4U-T6WGS-Z5P7O-BNF4W&libraries=visualization"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #container {
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <div id="container"></div>
</body>

<script src="../data/taxi_data_20000.js"></script>
<script>
    let track = null;

    // deprecated temporarily
    function get_data() {
        $.get("./get_data").done(
            function(data) {
                window.track = new Array(data);
                initMap();
            }
        )
    }

    window.onload = function() {initMap();}

    function initMap() {
        var center = new TMap.LatLng(22.565283, 114.039169);

        // 初始化地图
        var map = new TMap.Map("container", {
            zoom:12, // 设置地图缩放级别
            center: center, // 设置地图中心点坐标
            mapStyleId: "style1" //个性化样式
        });

        //初始化轨迹图并添加至map图层
        new TMap.visualization.Trail({
            pickStyle:function(item){ //轨迹图样式映射函数
                return {
                    width: 2,
                    color: "#FFFF00"
                }
            },
            startTime: 0,//动画循环周期的起始时间戳
            showDuration: 500,//动画中轨迹点高亮的持续时间
            playRate: 400 // 动画播放倍速

        })
        .addTo(map)
        .setData(taxi_tracks); //设置数据
        
    }

</script>

</html>